[submodule "Boat-API"]
	path = Boat-API
	url = https://github.com/shaantanu9/Boat-API
[submodule "Myntra-API"]
	path = Myntra-API
	url = https://github.com/shaantanu9/Myntra-API
[submodule "AJIO-API"]
	path = AJIO-API
	url = https://github.com/shaantanu9/AJIO-API
[submodule "indeed-API"]
	path = indeed-API
	url = https://github.com/shaantanu9/indeed-API
[submodule "pharmeasy-API"]
	path = pharmeasy-API
	url = https://github.com/shaantanu9/pharmeasy-API
[submodule "kfc-API"]
	path = kfc-API
	url = https://github.com/shaantanu9/kfc-API
[submodule "naukri-API"]
	path = naukri-API
	url = https://github.com/shaantanu9/naukri-API
[submodule "Farfetch-API"]
	path = Farfetch-API
	url = https://github.com/shaantanu9/Farfetch-API
[submodule "Asos-API"]
	path = Asos-API
	url = https://github.com/shaantanu9/Asos-API
[submodule "olx-API"]
	path = olx-API
	url = https://github.com/shaantanu9/olx-API
