[submodule "Boat-API"]
	path = Boat-API
	url = https://github.com/shaantanu9/Boat-API
[submodule "Myntra-API"]
	path = Myntra-API
	url = https://github.com/shaantanu9/Myntra-API
[submodule "AJIO-API"]
	path = AJIO-API
	url = https://github.com/shaantanu9/AJIO-API
[submodule "indeed-API"]
	path = indeed-API
	url = https://github.com/shaantanu9/indeed-API
